$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: '(max-width: 767px)';

// Colours
$primary: rgba(72, 153, 176, 0.9);
$primary-light: rgba(72, 153, 176, 0.3);
